.paragraf {
  color: #ffff;
  font-size: 3em;
}

.paragraf2 {
  color: #ffff;
  font-size: 1em;
}
.mt_50 {
  margin-top: 9em;
}
.navBarBott {
  background-color: #ffff;
  margin-bottom: 3em;
  margin-top: 3em;
  border-radius: 0.5em;
}

.skillss {
  display: flex !important;
  justify-content: center;
}
.paper2:hover {
  border-radius: 0px !important;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
}
